<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/output.css">
  
</head>





<body class="bg-black font-sans">

  

  <nav class="bg-black p-4 text-black">
    <div class="max-w-7xl mx-auto flex justify-center space-x-6">
      <a href="/" class="text-lg hover:text-blue-300">Home</a>
      <a href="/services" class="text-lg hover:text-blue-300">Our Services</a>
      <a href="/contact" class="text-lg hover:text-blue-300">Contact Us</a>
    </div>
  </nav>

  <div class="max-w-3xl mx-auto py-12 text-center">
    <h1 class="text-3xl font-bold text-gray-800">Welcome to Our perfect car website</h1>
    <p class="mt-4 text-lg text-gray-800">You are in the home page .</p>
  </div><br><br><br><br><br>
  <div class="flex justify-center items-center h-screen bg-gray-900">
    <div class="container">
      <br><br><br>
      <div class="card1 flex items-center"></div>
      <p class="text-center text-lg font-semibold">Professionalism.</p>
      <br><br><br><br>
      <div class="card2 flex items-center"></div>
      <p class="text-center text-lg font-semibold">Perfectness.</p>
      <br><br><br><br>
      <div class="card3 flex items-center justify-center">
        <p class="text-center text-lg font-semibold">Welcome to our car maintenance garage! for more details about our services you can visit our services section.</p>
      </div>
    </div>
  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


  <!-- Footer Component -->
<footer class="footer bg-gray-800 text-white">
  <div class="mx-auto py-8 px-4">
      <div class="flex flex-col sm:flex-row justify-between items-center">
         
      </div>
      <div class="social-icons flex justify-center sm:justify-end mt-6 sm:mt-4">
          <a href="#" class="mx-2"><img src="https://img.icons8.com/ios-glyphs/30/facebook-new.png" alt="Facebook" /></a>
          <a href="#" class="mx-2"><img src="https://img.icons8.com/ios-glyphs/30/twitter.png" alt="Twitter" /></a>
          <a href="https://www.instagram.com/yassin_25456/" class="mx-2"><img src="https://img.icons8.com/ios-glyphs/30/instagram-new.png" alt="Instagram" /></a>
      </div>
  </div>

   <!-- Footer Left -->
   <div class="footer-left mb-4 sm:mb-0 text-center sm:text-left">
    <h2 class="text-xl font-bold">perfect car</h2>
    <p class="text-sm mt-2">
        © 2024 perfect car. All rights reserved.
    </p>
</div>
</footer>
  
</body>
</html>
